/* Ogólne style strony */
body {
    font-family: "Georgia", "Garamond", serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Nagłówek */
header {
    text-align: center;
    padding: 20px;
    background: #4A90E2; /* Kolor pasujący do książek na regale */
    color: white;
}

/* Tytuły */
h1, h2 {
    font-weight: bold;
    max-width: 90%; /* Zapobiega wychodzeniu nagłówków poza kontener */
    margin: 0 auto; /* Centrowanie nagłówka */
    text-align: center; /* Wyrównanie tekstu */
    word-wrap: break-word; /* Zapobiega problemom z długimi słowami */
}

/* Główne sekcje */
.info, .community, .card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    background: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Tekst i obrazy */
.text {
    max-width: 80%;
    margin: 0 auto;
    text-align: justify;
}

p {
    font-size: 18px;
    line-height: 1.8;
    word-wrap: break-word;
}

/* Obrazy */
.text-image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.text {
    flex: 1;
    text-align: justify;
}

.image {
    flex: 1;
    max-width: 300px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Dostosowanie układu na małych ekranach */
@media screen and (max-width: 768px) {
    .text-image-container {
        flex-direction: column;
        text-align: center;
    }

    .text, .image {
        max-width: 100%;
    }

    .info, .community {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .language-switch {
        justify-content: center;
    }

        .language-switch a {
            font-size: 14px;
            margin: 5px;
        }

    .content {
        padding: 10px;
    }

    h2 {
        font-size: 20px;
        word-spacing: normal;
        letter-spacing: normal;
        white-space: normal;
        text-align: center;
    }
}

/* Formularz kontaktowy */
.contact {
    text-align: center;
    padding: 40px;
    background: #4A90E2;
    color: white;
}

    .contact form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: auto;
    }

    .contact input, .contact textarea {
        margin: 10px 0;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
    }

    .contact button {
        padding: 10px;
        font-size: 18px;
        background: #ffcc00;
        border: none;
        cursor: pointer;
    }

/* Stopka */
footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
}
